body {
    background-color: cadetblue;
}
h1,h2 {
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
p{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   /* color: rgb(32, 124, 60);*/
    text-align: left;
}

/*ejericio 8*/

/* link sin visitar */
a:link {
    color: #CC0000;
}
/* link visitado*/
a:visited {
    color: #CCC;
}
/* mouse sobre el link*/
a:hover {
    background-color: #CC0000;
    color: #FFF;
}
/* link clickeado */
a:active {
    color: blue;
}

ul {
    list-style: none;
    padding: 0px;
    margin-left: 10px;
    }
ul li::before {
content: "®";  
color: red; 
display: inline-block; 
padding-right: 10px;
font-size: 20px;
    }